@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.stone150{
  background-color: hsl(30, 18%, 87%);

}
.stone100{
  background-color:  hsl(30, 54%, 90%);
}
.stone600{background-color:  hsl(30, 10%, 34%)}
.stone900{background-color: hsl(24, 5%, 18%)}

.brown{color: hsl(14, 45%, 36%)}

.rose800{
  background-color:hsl(332, 51%, 32%)}
 .rose50{
  background-color: hsl(330, 100%, 98%)}

  
  .young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }

  
.outfit-400 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.outfit-600 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.outfit-700 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.outfit {
  font-family: "Outfit", sans-serif;

  font-style: normal;
}

@import "tailwindcss";




